@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #2A2E32;
    --main-highlight: #8C93A8;
    --other-highlight: #F18F01;
    --other-mainhighlight: #919191;
    --work: #A63446;
    --break: #09BC8A;
    --blue: #0D6EFD;
}

body {
    color: white;
    background: var(--background)
}
