@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #404E5C;
    --main-highlight: #B8B8F3;
    --other-highlight: #EF7B45;
    --work: #A63446;
    --break: #09BC8A;
}

body {
    color: white;
    background: var(--background)
}