.home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 95vh;
    width: 100vw;
    gap: 25px;
    margin-top: 15px;
}

.controlButtons {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.svgIcon svg {
    width: 100%;
    height: 100%;
}

.svgIcon:hover svg {
    stroke: white;
}