.titlebar {
    height: 30px;
    user-select: none;
    display: flex;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 5px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
}

.titlebarbuttonright {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 30px;
    height: 30px;
}

.titlebarbuttonleft {
    padding: 3px;
    padding-left: 1px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 30px;
    height: 30px;
}

.titlebartext {
    text-align: center;
    color: var(--other-highlight);
    padding: 4px;
}

